body {
  background-color: transparent;
}

.box {
  height: 250px;
  width: 250px;
  margin: 200px;
  background-color: #000;
  position: relative;
  box-shadow: 0px 0px 5px 2px #000;
  overflow: hidden;
  /* cursor: pointer; */
}
.box::before {
  content: "";
  position: absolute;
  background-color: black;
  height: 130%;
  width: 160%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-280deg);
  background-image: conic-gradient(
    #ff08bb 0deg,
    #ff00bb 90deg,
    transparent 130deg,
    transparent 180deg,
    transparent 180deg,
    #4530ff 180deg,
    #4530ff 270deg,
    transparent 310deg,
    transparent 360deg
  );
  transition: transform 2s;
}

.box:hover::before {
  transform: translate(-50%, -50%) rotate(-10deg);
}
.box::after {
  content: "";
  position: absolute;
  /* display: flex; */
  /* justify-content: center; */
  height: 230px;
  width: 230px;
  background-color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
