* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
}
.box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: -30px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top: 4px solid #24ecff;
  /* box-shadow: 0 0 0 5px #24ecff33; */
}

.circle::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #24ecff;
  box-shadow: 0 0 0 5px #24ecff33, 0 0 0 20px #24ecff22, 0 0 0 20px #24ecff11,
    0 0 0 20px #24ecff, 0 0 0 50px #24ecff;
}

/* .circle:nth-child(3) {
  position: absolute;
  top: -70px;
} */
.circle:nth-child(3) {
  position: absolute;
  top: 66.66px;
}
