body {
  background-color: rgb(95, 85, 85);
}
.box {
  position: relative;
  display: flex;
}
.circle1 {
  position: absolute;
  margin: 300px;
  top: -200px;
  height: 200px;
  width: 200px;
  background-color: rgb(218, 105, 105);
  border-radius: 50%;
}
.circle2 {
  position: absolute;
  margin: 300px;
  left: 200px;
  height: 200px;
  width: 200px;
  background-color: rgb(34, 153, 80);
  border-radius: 50%;
}
.circle3 {
  position: absolute;
  margin: 300px;
  left: -200px;
  height: 200px;
  width: 200px;
  background-color: rgb(240, 217, 217);
  border-radius: 50%;
}
